@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body{
    background-color: #001524;
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.voltar{
    background-color: #15616d;
    color: white;
    font-family: 'Comic Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    font-size: 1.0rem;
    border: 2.5px solid #ffecd1;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    box-shadow: 0 4px 0 rgba(0,0,0,0.2); 
}

.voltar:hover{
    transform: scale(1.1); 
    box-shadow: 0 8px 0 rgba(0,0,0,0.3); 
    filter: brightness(1.2); 
}

.voltar:active{
    transform: scale(0.95);
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.pontuacaoAtual{
    background-color: #ff7d00;
    width: 170px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    border-radius: 10px;
    border: 2.5px solid #ffecd1;
}

