@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body{
    background-color: #001524;
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.voltar{
    background-color: #15616d;
    color: #ffecd1;
    font-family: 'Comic Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    border-radius: 10px;
    font-size: 1.0rem;
    border: 2.5px solid #ffecd1;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    box-shadow: 0 4px 0 rgba(0,0,0,0.2); 
    font-size: 1.3rem;
}

.voltar:hover ,.btn-dica:hover , .enviar:hover, .btn-pular:hover{
    transform: scale(1.1); 
    box-shadow: 0 8px 0 rgba(0,0,0,0.3); 
    filter: brightness(1.2); 
}

.voltar:active , .btn-dica:active, .enviar:active, .btn-pular:active{
    transform: scale(0.95);
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.pontuacaoAtual{
    color: #ffecd1;
    background-color: #ff7d00;
    width: 170px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    border-radius: 10px;
    border: 2.5px solid #ffecd1;
}

.info{
    display: flex;
    justify-content: center;
}

.container-interface{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tema{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40%;
    padding-bottom: 30px;
}

.imagem-interrogacao{
}

.interrogacao{
    border-radius: 10px;
    border: 2.5px solid #ffecd1;
}

.container-card-dicas {
    background-color: #ffecd1;
    border: 3px solid #ff7d00;
    border-radius: 20px;
    padding: 15px 20px;
    width: 100%;
    margin: 0 auto;
}

.card-dicas {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.container-card-dicas h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: black;
}

.texto-dica {
    display: none;
    background-color: #15616d;
    padding: 12px 18px;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    margin-bottom: 0;
    line-height: 0.5;
}

.alternar-dica:checked + .texto-dica {
    display: block;
}

.alternar-dica {
    display: none;
}

.botoes-dicas {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btn-dica {
    background-color: #708d81;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #001524;
    order: 2;
    width: 5px;
    display: flex;
    justify-content: center;
}

.btn-dica.usado {
    background-color: #c5dfd3;
    cursor: default;
    filter: brightness(0,1);
}

.botoes-dicas > * {
    order: 2;
}

.botoes-dicas > .texto-dica {
    order: 1;
    flex-basis: 100%;
    margin-bottom: 0;
}

.alternar-dica:checked + .texto-dica + .btn-dica {
    background-color: #a6c8be;
}

.container-resposta{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    left: 22px;
    padding-top: 20px;
    gap: 10px;
    height: 40px;
}

.campo-resposta{
}

.campo-de-resposta{
    background-color: #ffecd1;
    border-radius: 10px;
    height: 100%;
    width: 500px;
    font-family: 'Comic Neue', cursive;
    border: 2.5px solid #ff7d00;
    display: flex;
    align-items: center;
}

.enviar{
    height: 45px;
    width: 80px;
    border-radius: 10px;
    background-color: #ff7d00;
    color: #ffecd1;
    font-family: 'Comic Neue', cursive;
    border: 2.5px solid #15616d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pular{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn-pular{
    background-color: #15616d;
    font-family: 'Comic Neue', cursive;
    color: #ffecd1;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    border: 2.5px solid #ffecd1
}

#dicas-reveladas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#dicas-reveladas .texto-dica {
    display: block;
    background-color: #15616d;
    padding: 12px 18px;
    border-radius: 12px;
    color: white;
    font-size: 15px;
}
