@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Comic Neue', cursive;
}
.telaMenu{
    width: 100vw;
    height: 100vh;
    background-image: url("imagens/plano-de-fundo.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-menu{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    gap: 0%;
}
h1{
    font-weight: bold;
    font-size: 100px;
    color: #ffecd1;
}


.container_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0%;
}
button, .score{
    font-family: 'Comic Neue', cursive;
    width: 300px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 0 rgba(0,0,0,0.2);
}
.play{
    background-color: #ff7d00;
    color: #ffecd1;
    border: #ffecd1 2.5px solid;
}
.tutorial, .efeitos{
    background-color: #15616d;
    color: #ffecd1;
    border: #ffecd1 2.5px solid;
}
.score{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffecd1;
    color: #001524;
    border: #ff7d00 2.5px solid;
    margin-top: 20px;
    gap: 0px;
}
button:active{
    transform: scale(0.95);
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}
button:hover{
    transform: scale(1.1); 
    box-shadow: 0 8px 0 rgba(0,0,0,0.3); 
    filter: brightness(1.2); 
}
.pontos{
    color: #ff7d00;
}
p{
     display: flex;
    justify-content: center;
    color: #ffecd1;
    padding: 0%;
    font-size: 15px;
}
.versao{
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    color: #ffecd1;
}
a{
    text-decoration: none;
    color: #ffecd1;
}
.criadores{
    position: absolute;
    gap: 5px;
    bottom: 40px;
    font-size: 19px;
    color: #ffecd1;
}
