@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Comic Neue', cursive;
}
.telaMenu{
    width: 100vw;
    height: 100vh;
    background-image: url("imagens/plano-de-fundo.jpg");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-menu{
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button{
    font-family: 'Comic Neue', cursive;
    width: 200px;
    height: 65px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.play{
    background-color: #ff7d00;
    color: #ffecd1;
    border: #ffecd1 3px solid;
}
.tutorial, .efeitos{
    background-color: #15616d;
    color: #ffecd1;
    border: #ffecd1 3px solid;
}
